.char-card, h1 {
  text-align: center;
}

h1 {
  margin: 2% 0 80px;
}

.char-card {
  border: 3px solid rgb(11, 17, 39);
  width: 300px;
  height: 400px;
  background-image: linear-gradient( rgb(17, 26, 58), rgb(21, 32, 73));
}

.name {
  width: 100%;
}

.photo {
  width: 60%;
  margin: 0 auto;
  height: 150px;
  background-color: turquoise;
  
  background-image: linear-gradient( rgb(17, 26, 58), rgb(57, 147, 183));
}

.img {
  text-align: center;
  background-repeat: no-repeat;
  height: 195px;
  background-position: center;
  background-image: url('https://rerollcdn.com/GENSHIN/Characters/Tartaglia.png');
}

.base-info {
  margin: 2% 0;
  width: 100%;
}

.more-info {
  margin: 2% 0;
  border: 3px solid rgb(11, 17, 39);
  background-color: rgb(17, 26, 58);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
